@model ClasSy.ViewModels.ProfessorViewModel

@{
    ViewBag.Title = "Professor profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Professor profile
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="avatar">
                            <a href="../../Content/images/professor.png" target="_blank">
                                <img src="../../Content/images/professor.png" width="256" class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            @Html.LabelFor(model => model.FirstName, new { @class = "profile-label col-md-6" })
                            <span class="col-md-6">@Model.Professor.FirstName</span>
                        </div>
                        <div class="row">
                            @Html.LabelFor(model => model.LastName, new { @class = "profile-label col-md-6" })
                            <span class="col-md-6">@Model.Professor.LastName</span>
                        </div>
                        <div class="row">
                            @Html.LabelFor(model => model.BirthDate, new { @class = "profile-label col-md-6" })
                            <span class="col-md-6">@Model.Professor.BirthDate</span>
                        </div>
                        <div class="row">
                            @Html.LabelFor(model => model.BirthPlace, new { @class = "profile-label col-md-6" })
                            <span class="col-md-6">@Model.Professor.BirthPlace</span>
                        </div>
                        <div class="row">
                            @Html.LabelFor(model => model.Email, new { @class = "profile-label col-md-6" })
                            <span class="col-md-6">@Model.Professor.Email</span>
                        </div>
                        <div class="row">
                            @Html.LabelFor(model => model.PhoneNumber, new { @class = "profile-label col-md-6" })
                            <span class="col-md-6">@Model.Professor.PhoneNumber</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Professor teaches
            </div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    @foreach (var course in Model.Professor.Courses)
                    {
                        <li>@course.Name</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>